@{
    ViewData["Title"] = "Admin";
}

<h1>Admin Panel</h1>

<p>
    <a asp-action="ManageUsers" class="btn btn-primary">Manage Users</a>
    <a asp-action="ManageGenres" class="btn btn-primary">Manage Genres</a>
    <a asp-action="ManageSongs" class="btn btn-primary">Manage Songs</a>
</p>