@model IEnumerable<LaLaFaMusicPortal.Models.User>

@{
    ViewData["Title"] = "Manage Users";
}

<h1>Manage Users</h1>

<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.UserId" class="btn btn-secondary">Edit</a>
                    <a asp-action="DeleteUser" asp-route-id="@user.UserId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>