@model IEnumerable<LaLaFaMusicPortal.Models.Genre>

@{
    ViewData["Title"] = "Manage Genres";
}

<h1>Manage Genres</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Genre</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Genre Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model)
        {
            <tr>
                <td>@genre.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@genre.GenreId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Delete" asp-route-id="@genre.GenreId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>